footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100dvw;
  padding: 6px;

  .column {
    width: 20%;
    text-align: center;

    p {
      font-size: smaller;
    }
  }

  @media (max-width: 720px) {
    flex-direction: column;
  }
}
